@font-face{src:url(../fonts/NanumSquareRoundR.ttf) format('truetype'); font-family:"NanumSquareRoundR"; font-style: normal;}
@font-face{src:url(../fonts/NanumSquareRoundB.ttf) format('truetype'); font-family:"NanumSquareRoundB"; font-style: normal;}
@font-face{src:url(../fonts/NanumSquareRoundEB.ttf) format('truetype'); font-family:"NanumSquareRoundEB"; font-style: normal;}
@font-face{src: url(../fonts/NanumSquareRoundOTFB.otf) format('opentype'); font-family: 'NanumSquareRoundOTFB'; font-style: normal;}
/*** NanumSquareRound  B ***/
.linkBtn,
/* index */
.mainSlide01 .mainSlideBg01 p, 
.swiper .swiper-wrapper .mainSlideBg02 div b ,.swiper .swiper-wrapper .mainSlideBg02 div mark ,.swiper .swiper-wrapper .mainSlideBg02 div p,
/* page01 */
.learnContainer ,
/*page02_01  */
.aiDataTitle div p, .aiDataContainer, .entryArea , .enterpriseArea,.naverArea,.webtoonArea p,
/* page03_01, -06 */
.softwareTitle,.softwareContainer,
.subpageInner, 
* {font-family:"NanumSquareRoundB"}

/*** NanumSquareRound  EB ***/
h2,header> div > nav ul li, .loginBtn,  .login p ,.login ul li a b ,.swiper-slide b ,
/* index  */
.swiper .swiper-wrapper .mainSlideBg2 div mark,
/*page02_01  */
.aiDataContainer article h2 , .entryArea h2 ,  .linkbtn ,
/* 소프트웨어 페이지3 */
.subpageInner .relation > b,
.subpageInner .relation ul li a b,

/* 프로그램 */
.programContainer .programContents li 
/* page04_02 */


{font-family:"NanumSquareRoundEB";}




/*** NanumSquareRound  R ***/
 footer .width1200 div address p , footer div small ,footer .width1200 p ,footer ul ,footer .width1200 div a,
 /* ai & data */
 article mark ,.entryArea .dropInner .moduleArea li mark ,
 /* pagr02_02 */
 .programContainer .infoBox03 .infoItem01 figure p ,.programContainer section > div ul li
 
 {font-family: "NanumSquareRoundR";}

/* **NanumSquareRoundOTFB ***/
/* page02_01 */
 article p 
 {font-family:"NanumSquareRoundOTFB";}




/* header 헤더 */
header{width: 100%; padding: 15px 0;  position:fixed; z-index:99;}
header > div {width: 1360px; display: flex;justify-content:space-between; margin: 0 auto;}
header > div nav {height: 50px; line-height: 50px;} 
header > div nav ul li.active{ border-bottom:2px solid #00EDA9;}

header ul{display: flex; width: 540px; justify-content: space-between; font-size: 18px; }
header ul li a{font-size: 18px; color: #ffffff;text-decoration: none;}
header input[type="button"]{width: 100px; height: 48px; font-size: 18px;cursor: pointer;  border: none;color: #00EDA9; background: none; background-image:url(../image/main/button_login_white.png) ;background-repeat: no-repeat; background-size:cover; }
/* header active */
header.whiteBg.active{ background-color: #ffffff;}
header.whiteBg.active h1 img {opacity: 0;}
header.whiteBg.active h1{width: 162px; height: 52px; background-image: url(../image/main/logo_black.svg); cursor: pointer;}
header.whiteBg.active nav ul li a{color: #181F41; }
header.whiteBg.active input[type="button"]{width: 100px; height: 48px; font-size: 18px;cursor: pointer;  border: none;color: #434DFE; background: none; background-image:url(../image/main/button_login_black.png) ;background-repeat: no-repeat; background-size:cover; }

/* header Black */
header.blackBg h1 img{opacity: 0;}
header.blackBg h1{ width: 162px; height: 52px; background-image: url(../image/main/logo_black.svg); cursor: pointer;}
header.blackBg nav ul li a {color: #181F41}
header.blackBg input[type="button"]{width: 100px; height: 48px; font-size: 18px;cursor: pointer;  border: none;color: #434DFE; background: none; background-image:url(../image/main/button_login_black.png) ;background-repeat: no-repeat; background-size:cover; }
header.blackBg > div nav ul li.active{border-bottom:2px solid #ffffff; z-index: 1;}
/* header.blackBg.whiteBg nav ul li.active {border-bottom: 2px solid #00EDA9; } */


/* footer */
footer{display: flex; padding: 60px 0;  background-color: #F7F7F7;}
footer .width1200 > div { display: flex;justify-content: space-between;}
footer .width1200 > div div {padding-right: 209px;}
footer .width1200 div small {font-size: 12px; color: #181F41;}
footer .width1200 div b{display: block;margin-bottom: 13px; font-size: 14px; line-height: 18px; color: #181F41;}
footer .width1200 address p {margin-bottom: 13px; font-size: 14px;color: #6F6F6F;}
footer .width1200 div a{text-decoration: none; color: #6F6F6F;}
footer div small{line-height: 50px;}
footer ul{width: 328px; display: flex; align-items: center;}
footer ul li{ font-size: 14px;margin-right: 18px; }
footer .social{justify-content: right; }
footer .social li{margin-right: 10px; }

