@font-face{src:url(../fonts/NanumSquareRoundR.ttf) format('truetype'); font-family:"NanumSquareRoundR"; font-style: normal;}
@font-face{src:url(../fonts/NanumSquareRoundB.ttf) format('truetype'); font-family:"NanumSquareRoundB"; font-style: normal;}
@font-face{src:url(../fonts/NanumSquareRoundEB.ttf) format('truetype'); font-family:"NanumSquareRoundEB"; font-style: normal;}

/* NanumSquareRound  EB */
header> div > nav ul li, .loginBtn,  .login p , .login ul li a b ,.swiper-slide b ,
.swiper .swiper-wrapper .mainSlideBg2 > div em ,  main .aiAera h3 , main section h3  ,
.swiper .swiper-wrapper .mainSlideBg2 > div mark ,#login p , #login ul li a b , .readmore
{font-family:"NanumSquareRoundEB";}

/* NanumSquareRound  B */
.login h2 , 
.mainSlideBg1 p , .swiper .swiper-wrapper .mainSlideBg2 div p, main .storyArea , main section p , 
.contentSlide02 .swiper-slide mark , .swiper .swiper-wrapper .mainSlideBg2 button,
footer .width1200 div b ,main .educationArea .contentSlide01 .swiper-wrapper .swiper-slide small
{font-family:"NanumSquareRoundB"}

/* NanumSquareRound  R */
 footer .width1200 div address p , footer div small ,footer .width1200 p {font-family: "NanumSquareRoundR";}


/* header 헤더 */
header{width: 100%; padding: 15px 0;  position:fixed; z-index:99;}
header > div {width: 1360px; display: flex;justify-content:space-between; margin: 0 auto;}
header > div nav {height: 50px; line-height: 50px;} 

header ul{display: flex; width: 540px; justify-content: space-between; font-size: 18px; }
header ul li a{font-size: 18px; color: #ffffff;text-decoration: none;}
header input[type="button"]{width: 100px; height: 48px; font-size: 18px;cursor: pointer;  border: none;color: #00EDA9; background: none; background-image:url(../image/main/button_login_white.png) ;background-repeat: no-repeat; background-size:cover; }
/* header active */
header.scroll.active{ background-color: #ffffff;}
header.scroll.active h1 img {opacity: 0;}
header.scroll.active h1{width: 162px; height: 52px; background-image: url(../image/main/logo_black.svg); cursor: pointer;}
header.scroll.active nav ul li a{color: black;}
header.scroll.active input[type="button"]{width: 100px; height: 48px; font-size: 18px;cursor: pointer;  border: none;color: #434DFE; background: none; background-image:url(../image/main/button_login_black.png) ;background-repeat: no-repeat; background-size:cover; }


/* footer */
footer{display: flex; padding: 60px 0;  background-color: #F7F7F7;}
footer .width1200 > div { display: flex;justify-content: space-between;}
footer .width1200 > div div {padding-right: 209px;}
footer .width1200 div small {font-size: 12px; color: #181F41;}
footer .width1200 div b{display: block;margin-bottom: 13px; font-size: 14px; line-height: 18px; color: #181F41;}
footer .width1200 address p {margin-bottom: 13px; font-size: 14px;color: #6F6F6F;}
footer .width1200 div a{text-decoration: none; color: #6F6F6F;}
footer div small{line-height: 50px;}
footer ul{width: 328px; display: flex; align-items: center;}
footer ul li{ font-size: 14px;margin-right: 18px; }
footer .social{justify-content: right; }
footer .social li{margin-right: 10px;}